
<link rel="shortcut icon" href="~/img/icoooo.png" type="icon" /> 


@model IEnumerable<Product>
<!-- --------- section 1 -------- -->

    <section class="main" id="mainSection">

        <img class="imgback" src="~/img/background1.png" width="600px"/>
        <div class="text">
            <h1> منصة لتحميل وبيع المنتجات الرقمية<br> وملحقات التصميم العربية
            </h1>
            <h3>
            أوسامي هو سوق متنوع من المنتجات الرقمية الابداعيه   .<br/>
            قم بتحميل المشاريع البرمجية ، قوالب التصميم، الرسومات،
            <br> الايقونات، الخطوط، وحتى الكتب الرقمية واكثر.
            <br> أو قم بالتسجيل كمزود وقم ببيع منتجاتك الرقمية على منصتنا</h3>
            
            <div class="text2">
                <div>
                    <p class="blue">15+</p>
                    <p>متجر</p>
                </div>
                <div>
                    <p class="blue">2k+</p>
                    <p>منتج مسجل</p>
                </div>
                <div>
                    <p class="blue">790+</p>
                    <p>عملية شراء</p>
                </div>
            </div>
        </div>

        <br/>



        <button type="button" class="b3" ><a asp-action="Singnin" asp-controller="User" target="_blank">أنضم إلينا</a></button>
        <button type="button" class="b4" > تصفح الكل</button>


        
    </section>

    <br>
    <br>

    <!-- ----------- section2 ------------ -->
    
    <section class="projects" id="projects">
        
        <h1 class="title1">منتجات إبداعية تلبي احتياجك</h1>
        <p class="paragraf"> أطلق العنان لإبداعك من خلال مجموعاتنا الواسعة من الملحقات والبرمجيات مفتوحة المصدر </p>
        <p class="paragraf2">وسهلة التعديل والتي تلبي متطلبات المشاريع وتوفر الوقت والجهد</p>
        <div class="filters">
            <a asp-controller="Goods" asp-action="Template" data-filter=".models" class="active">
                 قوالب تصميم
            </a>
            <a asp-controller="Goods" asp-action="Websites" data-filter=".webss">
                مواقع
            </a>
            <a asp-controller="Goods" asp-action="Apps" data-filter=".Apps">
                تطبيقات
            </a>
            <a asp-controller="Goods" asp-action="Fonts" data-filter=".fonts">
                خطوط
            </a>
            <a asp-controller="Goods" asp-action="Books" data-filter=".books">
                كتب
            </a>
            <a asp-controller="Goods" asp-action="Others" data-filter=".others">
                منتجات اخرى
            </a>
        </div>

  <!-- ===== search ===== -->

  <!-- <div class="container">
    <input checked="" class="checkbox" type="checkbox"> 
    <div class="mainbox">
        <div class="iconContainer">
            <svg viewBox="0 0 512 512" height="1em" xmlns="http://www.w3.org/2000/svg" class="search_icon"><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"></path></svg>
        </div>
     <input class="search_input" placeholder="search" type="text">
    </div>
</div> -->


<!-- end search -->

        <br>

        <div class="section-title">
            <span class="sp-after">المنتجات الرائجة</span>
        </div>


<!-- cards of products -->
<div class="theCards">
@foreach (var item in Model)
{  
       <!-- project 1 -->
        <div class="ProjectCard">
            <a  asp-controller="Market" asp-action="ProductView" asp-route-id="@item.Id" >
            <div class="ProjectImg">
                <img src="@item.imgSrs" />
            </div>
            <div class="ProjectInfo">
                 <p class="ProjectDescription">@item.Name </p>
                 <br>
                <p class="ProjectDescription">@item.Description </p>
                <strong class="ProjectTitle">
                    <span>@item.UserLog.FirstName @item.UserLog.ScendName </span>
                    <a href="#" class="price">@item.Price</a>
                </strong>
            </div>
            </a>
        </div>      
} 
 </div>

 </section>

